@use "variables" as var;
@use "mixins" as mix;

.projects__h2 {
    text-align: center;
    color: map-get($map: var.$colors-map, $key: "text");
    margin: 1rem 0;

    &::first-letter {
        color: map-get($map: var.$colors-map, $key: "primary");
    }
}

.projects__container {
    @include mix.flex-box(row, wrap, space-between, center);
    gap: 2rem;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}