<nav class="rrss">
    <ul class="rrss__ul">
        <li>
            <a href="https://github.com/Juan-Jose-Hidalgo" target="_blank" title="GitHub">
                <fa-icon [icon]="['fab', 'github']" class="rrss__icon"></fa-icon>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/juan-josé-hidalgo-yañez-854698b4" target="_blank" title="Linkedin">
                <fa-icon [icon]="['fab', 'linkedin-in']" class="rrss__icon"></fa-icon>
            </a>
        </li>
        <li>
            <a href="/inicio#contact" title="Conctacto">
                <fa-icon [icon]="['fas', 'envelope']" class="rrss__icon"></fa-icon>
            </a>
        </li>
    </ul>
</nav>