@use "variables/colors" as var;
@use "mixins" as mix;

.rrss__ul {
    @include mix.flex-box(row, wrap, space-around, center);
    width: 100%;
    gap: 2rem;
}

.rrss__svg {
    width: 3rem;
    color: map-get($map: var.$colors-map, $key: "black");
    transition: all .3s;

    &:hover {
        color: map-get(var.$colors-map, "accent");
    }
}

.rrss__svg--blue {
    color: map-get($map: var.$colors-map, $key: "primary");
}

.rrss__icon{
    color: map-get($map: var.$colors-map, $key: "primary");
    font-size: 3em;
    transition: all .3s ease;

    &:hover{
        color: map-get($map: var.$colors-map, $key: "accent");
    }
}