<ul class="icons">
    <li>
        <fa-icon [icon]="['fab', 'angular']" class="icons__icon"></fa-icon>
    </li>
    <li>
        <fa-icon [icon]="['fab', 'node-js']" class="icons__icon"></fa-icon>
    </li>
    <li>
        <fa-icon [icon]="['fas', 'database']" class="icons__icon"></fa-icon>
    </li>
    <li>
        <fa-icon [icon]="['fab', 'html5']" class="icons__icon"></fa-icon>
    </li>
    <li>
        <fa-icon [icon]="['fab', 'css3']" class="icons__icon"></fa-icon>
    </li>
    <li>
        <fa-icon [icon]="['fab', 'js']" class="icons__icon"></fa-icon>
    </li>
</ul>