@use "variables" as var;
@use "mixins" as mix;

.icons {
    @include mix.flex-box(row, wrap, center, center);
    gap: 1rem;

    @media (min-width: 992px) {
        gap: 2rem;
    }
}

.icons__icon {
    color: map-get($map: var.$colors-map, $key: "accent");
    font-size: 2em;

    @media (min-width: 992px) {
        font-size: 3em;
    }
}