@use "variables" as var;
@use "mixins" as mix;

.icons {
    @include mix.flex-box(row, wrap, center, center);
    width: 100%;
    gap: 1rem;

    @media (min-width: 922px) {
        gap: 3rem;
    }
}

.icons__icon {
    width: 2em;
    color: map-get($map: var.$colors-map, $key: "secondary");

    @media (min-width: 992px) {
        width: 3em;
        color: map-get($map: var.$colors-map, $key: "accent");
    }

}