<div class="about" id="about">
    <h2 class="about__h2">Sobre mí</h2>

    <div class="about__container">
        <div class="about__text">
            <p>
                ¿Alguna vez has sentido que tu vida no era la que querías? Eso me pasó a mí hace unos años, cansado de
                las opciones de empleo que mis escasos estudios me podían ofrecer, decidí cambiarlo todo y seguir mi
                verdadera pasión:
                la informática. Me matriculé en el ciclo medio de <span class="highlighted"> Sistemas Microinformáticos
                    y Redes</span> y allí descubrí dos
                cosas que me marcaron: Linux y la asignatura aplicaciones web. Linux me abrió las puertas a un mundo de
                posibilidades y libertad, y desde entonces lo uso como mi sistema operativo principal. Aplicaciones
                web me mostró lo divertido a gusto que me sentía con HTML y CSS.
            </p>
            <p>
                Ese acercamiento a HTML y CSS me hizo cambiar el chip y supe que quería vivir de ello. Seguí estudiando
                el ciclo superior de <span class="highlighted">Desarrollo de Aplicaciones Web</span>, que acabo de
                finalizar con éxito. Ahora sigo ampliando mis conocimientos y habilidades por mi cuenta, aprendiendo
                Angular, TypeScript, Node.js, SCSS y otras tecnologías que me ayudan a crear aplicaciones web más
                completas y profesionales. En este portfolio podrás ver algunos de los proyectos que he realizado con
                ellas.
            </p>
            <p>
                Este portfolio está desarrollado en Angular. Si quieres ver el código fuente del portfolio o descargarlo
                para probarlo en tu ordenador, puedes visitar mi github: <a
                    href="https://github.com/Juan-Jose-Hidalgo/Personal-Portfolio"
                    class="about__link">https://github.com/Juan-Jose-Hidalgo/Personal-Portfolio</a> .Allí también
                encontrarás otros repositorios con mis proyectos.
            </p>
            <p>
                Me considero un desarrollador web entusiasta y comprometido con mi trabajo. Si te interesa saber más
                sobre mí o trabajar juntos, ponte en contacto conmigo.
            </p>
        </div>

        <div class="about__image">
            <img src="/assets/img/yo.svg" alt="imagen de la sección sobre mi">
        </div>

    </div>
</div>