@use "variables" as var;
@use "mixins" as mix;

.menu {
    @include mix.flex-box(row, nowrap, space-between, center);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: map-get(var.$colors-map, "black");
    transition: 0.5s;
    z-index: 1;
}

.menu--active {
    top: -100%;
}

.menu__banner {
    position: relative;
    width: 37.5rem;
    height: 100%;

    @media(max-width:991px) {
        display: none;
    }
}

.menu__banner-img {
    height: 100%;
    filter: grayscale(50%);
    transition: all .5s;
}

.menu__banner-img--gray {
    filter: grayscale(100%);
}

.menu__links {
    margin: 0 auto;
    @include mix.flex-box(column, nowrap, center, center);
    align-self: center;
    gap: 5rem;
}

.links__social {
    width: 100%;
}

.nav {
    @include mix.flex-box(row, nowrap, center, center);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.nav__ul {
    position: relative;
}

.nav__li {
    position: relative;
    list-style: none;
    padding: 0 1.25rem;
    margin: .3125rem 0;
    overflow: hidden;
    display: table;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: map-get(var.$colors-map, "primary");
        transition: transform 0.5s ease-in-out;
        transform: scaleY(0);
        transform-origin: bottom;
    }

    &:hover::before {
        transition: transform 0.5s ease-in-out;
        transform: scaleY(1);
        transform-origin: top;
    }
}

.nav__a {
    position: relative;
    color: map-get(var.$colors-map, "white");
    text-decoration: none;
    font-family: map-get(var.$fonts-map, "secondary");
    font-size: 4em;
    font-weight: 700;
    line-height: 1.5em;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;

    @media(max-width:991px) {
        font-size: 3rem;
    }

    &::before {
        content: attr(data-text);
        position: absolute;
        bottom: -100%;
        left: 0;
        color: map-get(var.$colors-map, "text");
    }

    &:hover {
        transform: translateY(-100%);
        color: map-get(var.$colors-map, "white");
    }
}

.btn--menu__icon {
    color: map-get(var.$colors-map, "secondary");
    font-size: 2em;
}