<div [classList]="menu">
    <div class="menu__banner">
        <img [classList]="banner" src="/assets/img/1672311169146.jpeg" alt="Imagen de menú" loading="lazy">
    </div>

    <div class="menu__links">
        <nav class="nav">
            <ul class="nav__ul">
                <li class="nav__li"><a class="nav__a" (click)="menuToggle()" href="/inicio#home" data-text="Inicio"
                        title="Inicio">Inicio</a>
                </li>
                <li class="nav__li"><a class="nav__a" href="/inicio#about" (click)="menuToggle()" data-text="Sobre mi"
                        title="Sobre-mí">Sobre
                        mi</a></li>
                <li class="nav__li"><a class="nav__a" (click)="menuToggle()" href="/inicio#projects"
                        data-text="Proyectos" title="Proyectos">Proyectos</a></li>
                <li class="nav__li"><a class="nav__a" (click)="menuToggle()" href="/inicio#contact" data-text="Contacto"
                        title="Contacto">Contacto</a></li>
            </ul>
        </nav>

        <!--Social-links component-->
        <div class="links__social" (click)="menuToggle()">
            <app-social-links [svgClass]="svgClass"></app-social-links>
        </div>

    </div>
</div>

<button class="btn--menu" (click)="menuToggle()" (mouseenter)="colorToogle()" (mouseleave)="colorToogle()">
    <fa-icon [icon]="active ? bars : cross" class="btn--menu__icon"></fa-icon>
</button>